$red: #E63946;
$white: #f1f1f1;
$light-blue: #A8DADC;
$blue: #2d79a9;
$dark-blue: #084c95;
$navy: #1D3557;
$black: #333333;
$grey: #cacaca;
$dark-grey: #757575;
$green: #a4d357;
$yellow: #e67b18;

$radius: 5px;

$maincolours : ("red" : $red, "white" : $white, "light-blue" : $light-blue, "blue" : $blue, "dark-blue" : $dark-blue, "navy" : $navy, "black" : $black, "grey" : $grey, "dark-grey" : $dark-grey, "green" : $green, "yellow" : $yellow);